.ul-nav li{
  display:inline-block;
  padding: 10px;
}
.ul-nav{
  justify-content: space-between;

}
.ul-nav li a{
  color:#fff;
  padding: 5px;
  text-decoration: none;

}
.ul-nav {
  background-color: skyblue;
  margin: 0;
  padding: 5px;
}
.nav-right{
text-align: right;
}
.logo{
  width: 35px;
  float: left;
  margin: 10px;
  border-radius: 50%;
  
}

/* //signup style /// */

.input-box{
  display: block;
  padding: 7px;
  margin: 25px;
  width: 300px;
  border: 1px solid skyblue;

}
.product{
  margin-left: 35%;
}
.signupButton, .productBtn{
  margin: 20px;
  padding: 10px;
  width: 150px;
  cursor: pointer;
  background-color: skyblue;
  border: 1px solid ;

}
/* .....footer...  */
.footer{
position: absolute;
bottom: 0;
text-align: center;
background-color: #61dafb;
width: 100%;
}
h1{
  text-align: center;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}