.nav-ul li {
  display: inline-block;
  padding: 10px;
}

.nav-ul {
  padding: 5px;
  margin: 0;
  background-color: skyblue;
}

.nav-ul li a {
  text-decoration: none;
  color: white;
  padding: 5px;
}

h1 {
  text-align: center;
}

/* -----signup----- */

.inputField {
  display: block;
  padding: 7px;
  margin: auto;
  width: 230px;
  align-items: center;
  border-color: skyblue;
  border: 1px solid skyblue;
}

.signUpButton {
  width: 130px;
  padding: 10px;
  margin-left: 590px;
  gap: 10px;
  align-items: center;
  color: white;
  background-color: skyblue;
  border: 1px solid;
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: skyblue;
  text-align: center;
  width: 100%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}